.footer{
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: black;
}

.child{
    margin: 1rem 0;
    padding: 3%;
    color: cornsilk;
}

.child h1{
    font-size: 100%;
}

.child ul {
    list-style: none;
    padding: 10px;
}

.child ul li{
    padding-top: 10px;
}

.child ul li a{
    text-decoration: none;
    color: darkgray;
}

.c4 div{
    padding-top: 1rem;
}

.c4 a{
    border-radius: 100%;
}

.c4 img{
    margin-right: 0.5rem;
    width: 50px;
    transition: all 0.1s ease-in;
}

.c4 img:hover{
    transition: all 0.1s ease-in;
    transform: rotate(20deg);
}