.hero{
    
    width: 100%;
    height: calc(100vh - 64px);

    .con1{
        width: 90%;

        lottie-player{
            width: 600px;
            opacity: 0.93;
        }

        .landText{
            color: rgb(228, 228, 228);

            h3{
                text-align: center;
                font-size: 5rem;
                margin: auto;
                padding: auto;
            }

            p{
                color: #ac3f53;
                text-align: center;
                margin: 1rem;
            }

            .explore{
                text-align: center;
                padding: 0.5rem 1.5rem;
                border-radius: 20px;
                background: #b00020;
                font-size: 1rem;
                outline: none;
                border: none;
                color: rgb(228, 228, 228);
                text-decoration: none;

                margin: 2rem;
            }
            
            .explore:hover{
                background: #cf6679;
                color: rgb(228, 228, 228);
            }
        }
    }
}